body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 320px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

input {
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: #4facfe;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #00c6ff;
}

#weatherResult {
    margin-top: 15px;
    font-size: 18px;
}
